<div id="fh5co-about" class="animate-box">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center fh5co-heading">
                <h2>Sobre mi</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <ul class="info">
                    <li>
                        <span class="first-block">Nombres:</span>
                        <span class="second-block"></span>
                    </li>
                    <li>
                        <span class="first-block">Celular:</span>
                        <span class="second-block">{{information.phone}}</span>
                    </li>
                    <li>
                        <span class="first-block">Email:</span>
                        <span class="second-block">{{information.address}}</span>
                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                <h2>¡Hola a todos!</h2>
                <p>{{profile.text}}</p>
            </div>
        </div>
    </div>
</div>