<div id="fh5co-skills" class="animate-box">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center fh5co-heading">
                <h2>Habilidades</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" *ngFor="let row of knowledges">
                <div class="progress-wrap">
                    <h3>
                        <span class="name-left">{{row.technology}}</span>
                        <span class="value-right">{{row.percentage}}%</span>
                    </h3>
                    <div>
                        <input type="range" min="0" max="100" [ngStyle]="{'background-size': row.percentage+'%'}" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>