<div id="fh5co-resume" class="fh5co-bg-color">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0">
                <ul class="timeline">
                    <li class="timeline-heading text-center animate-box">
                        <div>
                            <h3>Educación</h3>
                        </div>
                    </li>

                    <li *ngFor="let row of studies; let i = index" class="animate-box" [ngClass]="i%2==0 ? 'timeline-unverted' : 'timeline-inverted'">
                        <div class="timeline-badge">
                            <i class="icon-graduation-cap"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">{{row.title}}</h3>
                                <span class="company">{{row.university}}</span>
                                <span>{{ formatDate(row.dateEnd)}}</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>